body {
  background-color: #555;
  background: url(galaxy.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
  color: #fdf;
}


button {
  background-color: inherit;
}

.darkTheme {
  background-color: #282828;
  color: #eee;
  }

.navbar-text {
  margin: auto;
}
