body {
  background-color: #555;
  background: url(galaxy.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
  color: #dff;
  text-shadow: black 0.1em 0.1em 0.2em;
}

#blob {
  background: url(galaxy2.jpg) no-repeat center center fixed;
}

button {
  background-color: inherit;
}

.darkTheme {
  background-color: #282828;
  color: #ddd;
  }

.navbar-text {
  margin: auto;
}
